$font-heading: "Noto Sans", sans-serif;
$font-body: "Noto Sans", sans-serif;

$font-size-xs: 0.65rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;

$color-white: #fff;
$color-primary-dark: #2E5BFF;
$color-primary: #3F84E5;
$color-primary-light: #4D9DFE;
$color-grey-dark: #333;
$color-grey: #888;
$color-grey-light: #BBB;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$space-0: 0;
$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 48px;

$boder-radius-0: 0;
$border-radius-1: 4px;
$border-radius-2: 8px;

$border-width-0: 0;
$border-width-1: 1px;

$border-color-dark: $color-grey-dark;
$border-color-light: $color-grey-light;

$box-shadow-1: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);

$text-shadow-1: 0 2px 4px rgba(0, 0, 0, 0.1);
